@{
    var solicitud = (List<Solicitud>)ViewBag.solicitud;
}
<div class="container">
<div class="text-center">
    <h1 class="display-4">Listado de solicitudes</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombres</th>
      <th scope="col">Correo electrónico</th>
      <th scope="col">Teléfono</th>
      <th scope="col">CodigoMascota</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var s in solicitud)
    {
    <tr>
      <th scope="row">@s.id</th>
      <td>@s.Nombre 
            @s.ApellidoPaterno 
            @s.ApellidoMaterno </td>
      <td>@s.Correo  </td>
      <td>@s.Telefono </td>
      <td>@s.CodigoM</td>
                  <td>
                <a href="~/admin/borrarsolicitud/@s.id">Borrar</a>
            </td>
    </tr>
    }
  </tbody>
</table>

</div>
</div>