<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Titulo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container mt-4">
        <div class=row>
            <div class=col-4>
                <img src="http://adoptasalvaunavida.com/_mibambu/_salvaunavida/imas/logo-mobile.jpg" width="150" href="/Home/Index">
            </div>
            <div class=col-4>
                <h1 style="font-family:'Courier New', Courier, monospace">AdoptaAhora.com</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-pills nav-fill">
            @if (Context.User.Identity.IsAuthenticated){
                <li class="nav-item">
                    <a class="nav-link active" href="/Home/Index">Inicio</a>
                </li>

                <li class="nav-item">
                <a class="nav-link active" href="/Admin/Listar">Lista de mascotas</a>
                </li>

                <li class="nav-item">
                <a class="nav-link active" href="/Admin/RegistroMascota">Registrar mascota</a>
                </li>

                <li class="nav-item">
                <a class="nav-link active" href="/Admin/VerSolicitudes">Lista de solicitudes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/Admin/ChangePassword">Cambiar contraseña</a>
                </li>

                <li class="nav-item">
                <a class="nav-link active" asp-controller="Admin" asp-action="Logout">Salir</a>
                </li>
            }else{
            <li class="nav-item">
                <a class="nav-link active" href="/Home/Index">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Comunidad/Solicitud">Solicitud</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Comunidad/Ayuda">Ayudar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/PreguntasFrecuentes">Preguntas Frecuentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Home/MascotasDisponibles">Mascotas</a>
            </li>
            }
        </ul>
    </div>

@RenderBody()

<footer class="text-muted">
        @if (Context.User.Identity.IsAuthenticated){
        <div class="container">
        <p class="float-right">
            <div class="container">
                <p class="float-right"><a href="#">Volver arriba </a> 
                <p><a class="nav-link" href="/Admin/Registro">Registrar admin</a>
            </div>
        </p>
            <p>&copy; @DateTime.Now.Year - AdoptaAhora.com </p>
        </div>
        
        /*<div class="container">
            &copy; @DateTime.Now.Year - AdoptaAhora.com 
        </div>
        <div class="container">
            <a class="nav-link" href="/Admin/Registro">Registrar admin</a>
        </div>
        */
        }else{
        
        /*<div class="container">
            &copy; @DateTime.Now.Year - AdoptaAhora.com 
        </div>

        <div>
            <a class="nav-link" href="/Admin/Login">Admin mode</a>
        </div>      
        }*/
  <div class="container">
    <p class="float-right">
        <div class="container">
            <p class="float-right"><a href="#">Volver arriba </a> 
            <p><a href="/Admin/Login">Admin mode</a>
        </div>
    </p>
    <p>&copy; @DateTime.Now.Year - AdoptaAhora.com </p>
  </div>
    }
    </footer>    
</body>


</html>