@model List<Mascota>

<div class ="container">
    </br>
    <div class = "bg-dark text-center mb-2 text-white">
    <h1 class = "mb-2 bg-dark text-white text-center">Mascotas para adopción</h1>

    <form asp-action="MascotasDisponibles" method="get" class= "text-center">
        <h4>Filtrar por tipo mascota: </h4>
        <select name="tipomascota">
            <option value="0">Todos</option>
            @foreach(var t in (List<TipoMascota>)ViewBag.Tipos) {
                <option value="@t.Id">@t.Nombre</option>
            }
        </select>
        <button type="submit" class="btn btn-primary" >Filtrar</button>
    </form>
    </div>
    @if (Model.Count == 0) {
        <div class = "text-center alert alert-danger " role ="alert">
            <p>Aún no hay mascotas para adoptar.</p>
        </div>
    }
    </br>
    <div class="container">
        <div class="row mb-2">
            @foreach (var m in Model)
            {
            <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                <h2 class="d-inline-block mb-2 text-primary">@m.NombreMascota</h2>
                <ul>
                    <li> Codigo de Mascota :@m.CodigoMascota</li>
                    <li> Edad: @m.Edad meses</li>
                    <li> Peso: @m.Peso gramos</li>
                    <li>Tipo: @m.Tipo.Nombre</li>
                </ul>
                </div>
                <div class="col-auto d-none d-lg-block">
                <img src="@m.Foto" width="200" height="200" class="rounded mx-auto d-block text-middle">
                
                </div>
            </div>
            </div>
            }
        </div>
    </div>
    </div>
</div>